div#text {
    font-family: var(--font);
    font-size: var(--font-size);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background:
        radial-gradient(
            ellipse at top,
rgba(0, 0, 0, 0.33188397788130286), /* 45% */
rgba(0, 0, 0, 0.5), /* 55% */
rgba(0, 0, 0, 0.6681160221186971), /* 64% */
rgba(0, 0, 0, 0.8126044760531954), /* 73% */
rgba(0, 0, 0, 0.9183398196637926), /* 82% */
rgba(0, 0, 0, 0.9802774241284169), /* 91% */
rgba(0, 0, 0, 0.9999999999972715) /* 100% */
        );
    height: 25%;
    width: calc(100vw - 30px);
    color: white;
}

div#text::after {
    width: 100%;
    height: 2px;
    left:0;
    position: absolute;
    top: 0;
    background: linear-gradient(to right, #fff6, white 35%, white 65%, #fff6);
    content: '';
}

body {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/035/329/781/small_2x/ai-generated-beautiful-nature-background-in-a-park-with-grass-free-photo.jpg);
    background-position: center;
    background-size: cover;
    --font: sans-serif;
    --alpha: 1;
}

body::after {
    transition: opacity .5s;
    opacity: var(--alpha);
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.hide {
    display: none !important;
}

div#title {
    position: absolute;
    left: 0;
    bottom: calc(100% - 70px);
    width: 100%;

    display: flex;
}

div#title div {
    position: relative;
    
    margin: auto;
    
    align-content: flex-end;

    display: flex;
    flex-direction: column;

    opacity: 0;
}

div#title h1, h2 {
    margin: 0;
    color: white;
    text-align: center;
    display: inline-block;
}

div#title div::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    left: calc(-35px - var(--dist));
    bottom: 25%;
    color: var(--color);
    background: var(--color);
    box-shadow: 0 0 15px var(--color);
    border-radius: 2px;
    transform: rotate(45deg);
}

div#title div::after {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    right: calc(-35px - var(--dist));
    bottom: 25%;
    color: var(--color);
    background: var(--color);
    box-shadow: 0 0 15px var(--color);
    border-radius: 2px;
    transform: rotate(45deg);
}
div#title div:not(.no-animation)::after, div#title div:not(.no-animation)::before {
    transition: all 1s ease-out !important;
}

#subject.hide {
    display: none;
}

#subject {
    height: calc(5px + var(--title-font-size));
    position: absolute;
    font-size: var(--title-font-size);
    font-family: var(--title-font);
    color: white;
    background:
        linear-gradient(
            to left,
rgba(0, 0, 0, 0), /* 0% */
rgba(0, 0, 0, 0.08), /* 12% */
rgba(0, 0, 0, 0.16), /* 33% */
rgba(0, 0, 0, 0.33188397788130286), /* 45% */
rgba(0, 0, 0, 0.5), /* 55% */
rgba(0, 0, 0, 0.6681160221186971), /* 64% */
rgba(0, 0, 0, 0.8126044760531954), /* 73% */
rgba(0, 0, 0, 0.9183398196637926), /* 82% */
rgba(0, 0, 0, 0.9802774241284169), /* 91% */
rgba(0, 0, 0, 0.9999999999972715) /* 100% */
        );
    padding: 10px;
    left: 0;
    bottom: calc(25% - 1px);
    width: 300px;
}

#next {
    background-image: url('caret.svg');
    width: 35px;
    height: 35px;
    border: none;
    background-size: cover;
    background-color: transparent;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    animation: float infinite 2s ease-in-out;
}

@keyframes float {
    0% {
        bottom: 10px;
    }
    50% {
        rotate: 180deg;
        bottom: 50px;
    }
    100% {
        bottom: 10px;
        rotate: 1turn;
    }
}


div#choices {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    bottom: calc(25% + 120px);
    width: calc(100% - 10px);
    left: 0;
    padding: 5px;
    text-align: center;
}

div#choices button {
    overflow: hidden !important;

    margin: 5px auto;
    padding: 10px;

    background: rgba(0, 0, 0, 0.7);
    border: solid 1px white;

    border-radius: 5px;
    font-size: calc(var(--font-size) / 4 * 3);

    color: white;

    font-family: var(--font);

    transition: 1s ease;

    opacity: 0;

    white-space: nowrap;
}

div#choices button.ready {
    width: 70%;
    opacity: 1;
}

div#choices button:hover.ready {
    width: 100%;
    cursor: pointer;
    background: rgba(164, 167, 34, 0.7) !important;
}

div#choices button:hover.ready+*, div#choices button.ready:has(+button:hover) {
    width: 85%;
    background: rgba(57, 58, 12, 0.7) !important;
}

html body div#choices button:not(.ready) {
    width: 10px !important;
}